.graveyard {
  position: relative;

  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  background-color: #aaa;
}

.graveyard > h3 {
  position: absolute;
  top: 50%;
  left: -30%;

  font-size: 2.5rem;
  line-height: 2.5rem;
  white-space: nowrap;
  text-align: center;
  color: #ccc;
}

.w-graveyard > h3 {
  transform: rotate(90deg);
}

.b-graveyard > h3 {
  transform: rotate(-90deg);
}
