@use '../abstracts/vars';

.test-mode-switch {
  width: 15rem;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid grey;
  border-radius: 0.5rem;

  font-size: 2rem;
  color: black;
  background-color: vars.$light-tile;
}

*[class$="--hidden"] {
  // display: none;
  opacity: 0;
  transform: translateZ(-100px);
}
