.promotion-menu {

  grid-column: 3;
  grid-row: 2;

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #ccc;
  font-family: Helvetica, sans-serif;
}

.promotion-menu > p {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.promotion-choice {
  width: 60px;
  height: 60px;
  margin: 2px;
  box-sizing: border-box;
  border: 1px dotted red;
  text-align: center;
  line-height: 105px;
}
