*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
  height: 100%;
}

#root, body { min-height: 100%; }

a {
  text-decoration: none;
  color: #333;
}
a:link { color: #333; }
a:visited { color: #333; }
a:hover { color: #444; }
a:active { color: #333; }
a:focus { color: #333; }
