.middle-container {
  grid-column: 3;
  grid-row: 2;
  position: relative;
  margin: 0 auto;
}

.board-container {
  position: relative;
  grid-column: 3;
  grid-row: 2;

  &__tiles {
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }

  &__pieces {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
}
.board-container.testBoard {
  position: absolute;
  top: 0;
  left: 0;
}

.graveyard { grid-row: 2; }
.w-graveyard { grid-column: 2; }
.b-graveyard { grid-column: 4; }

.message-board {
  grid-column: 3;
  grid-row: 3;
  position: relative;
  place-self: center;

  display: inline-block;
  text-align: center;
  font-size: 3rem;
}
