.middle-container {
  grid-column: 3;
  grid-row: 2;
  position: relative;
  margin: 0 auto;
}

.board-container {
  position: relative;
  grid-column: 3;
  grid-row: 2;
  display: flex;

  &__tiles {
    position: relative;
    z-index: 3;
    display: flex;
    flex-flow: row wrap;
  }

  &__pieces {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
  }

  .graveyard {
  }
}
.board-container.testBoard {
  position: absolute;
  top: 0;
  left: 0;
}

.message-board {
  grid-column: 3;
  grid-row: 3;
  position: relative;
  place-self: center;

  display: inline-block;
  text-align: center;
  font-size: 3rem;
}
