.testing-board {
  grid-column: 3;
  grid-row: 2;
  position: relative;


  &__inner {
    & .tile-container {
      position: relative;
      z-index: 2;
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
    }

    & .pieces-container {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
  }
}

.testing-board-off {
  grid-column: 3;
  grid-row: 4;
}
// .testing-board-hidden {
//   grid-column: 3;
//   grid-row: 4;

//   & .tiles-container,
//   & .pieces-container {
//     display: none;
//   }
// }

.testing-board-off {
  display: flex;
  justify-content: center;
  align-items: center;
}
