/* 
<div id="game-container" style={outerStyle}>
  {theMenu}
  <h2 id="turn-board" style={h2Style}>{this.state.turn ? "White turn" : "Black turn"}</h2>
  <div id="tile-container" style={tileContainerStyle}>
    {boardTiles}
  </div>
  <div id="pieces-container" style={piecesContainerStyle} >
    {pieceObjects}
  </div>
  <h3 id="messageboard" style={h3Style}>{this.state.messageBoard}</h3>
  <ChessGraveyard pieces={wGraveyard} />
  <ChessGraveyard pieces={bGraveyard} />
</div>
*/
*{
  margin: 0;
  padding: 0;
}

#game-container{
  display: grid; 
  grid-template-columns: 80px 120px 480px 120px 80px;
  grid-template-rows: 80px 480px 80px;
}

#turn-board{
  width: 100%;
  position: relative;
  grid-column: 3;
  grid-row: 1;
}

#middle-container{
  position: relative;
  margin: 0 auto;
  grid-column: 3;
  grid-row: 2;
  left: -240px;
}

#tile-container{
  margin: auto;
  padding: 0px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  border: 1px solid blue;
  position: absolute;
}

.tile{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pieces-container{
  margin: auto;
  padding: 0px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  position: absolute;
  pointer-events: none;
}

.piece{
  background-origin: border-box;
  position: absolute;
  box-sizing: border-box;
  pointer-events: all;
}

#wGraveyard{
  grid-column: 2;
  grid-row: 2;
  background-color: #aaa;
}

#bGraveyard{
  grid-column: 4;
  grid-row: 2;
  background-color: #aaa;
}

#message-board{
  display: inline;
  position: relative;
  grid-column: 3;
  grid-row: 3;
}