@use './abstracts/vars';

.game-container {
  display: grid;
  grid-template-columns: 8rem 15rem 48rem 15rem 8rem;
  grid-template-rows: 8rem 48rem 8rem;
}

.turn-board {
  width: 100%;
  display: inline-block;
  position: relative;
  grid-column: 3;
  grid-row: 1;
  place-self: center;
  text-align: center;
  font-size: 4rem;
}

.middle-container {
  position: relative;
  margin: 0 auto;
  grid-column: 3;
  grid-row: 2;
}

.tile-container {
  margin: auto;
  padding: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  grid-column: 3;
  grid-row: 2;
}

.tile {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light-tile {
  background-color: vars.$light-tile2;
}

.dark-tile {
  background-color: vars.$dark-tile2;
}

.pieces-container {
  margin: auto;
  padding: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  pointer-events: none;
  box-sizing: border-box;
  grid-column: 3;
  grid-row: 2;
}

.piece {
  background-origin: border-box;
  box-sizing: border-box;
  pointer-events: all;
}

.w-graveyard,
.b-graveyard {
  grid-row: 2;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  background-color: #aaa;
}

.w-graveyard { grid-column: 2; }
.b-graveyard { grid-column: 4; }

.w-graveyard > h3,
.b-graveyard > h3 {
  position: absolute;
  top: 31rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  width: 48rem;
  text-align: center;
  color: #ccc;
}

.w-graveyard > h3 {
  left: -7.4rem;
}

.b-graveyard > h3 {
  left: 54rem;
}

.message-board {
  display: inline-block;
  position: relative;
  grid-column: 3;
  grid-row: 3;
  place-self: center;
  text-align: center;
  font-size: 3rem;
}
